*{
    margin: 0px;
    padding: 0px;

}
@font-face {
    font-family: 'Gilroy';
    src: url(assets/fonts/Gilroy-Regular.ttf);
}
.section1{
    height: 120vh;
    background-color: #FF5200;
    position: relative;
}

.header{
    background-color:#FF5200 ;
    height: 118px;
    display: flex;
    align-items: center;
    

}

.inner-header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
    height: 46px;

}   

.about a{
    margin-right: 25px;
    color: white;
    font-family: Gilroy ;
    font-style: normal;
    text-decoration: none;
    font-weight: 900;
}

.about .get-the-app{
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
}
.about .sign-in{
    padding: 18px 45px;
    background-color: black;
    border-radius: 10px;
}


.order-food{
    text-align: center;
    margin-top: 60px;
    color: white;
    font-family: 'Gilroy';
    font-weight:bolder;
    font-size: 28px ;
}

.search-box{
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin: 0px auto;
    margin-top: 20px;
    color: gray;
    font-family: 'Gilroy';
    font-size: 14px;

}

.search-box .location{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}



.search-box .search-restaurant{
    background-color: white;
     padding: 20px;
     font-weight: bolder;
     border-radius: 8px;
}
.search-restaurant .fa-solid{
    margin-left: 10px;
}
.location .fa-duotone{
    margin-right: 10px;
    
}


.main-left-image img{
    position: absolute;
    height: 450px;
    width: 250px;
   
    top: 110px;
    left: 0px;
}

.main-right-image img{
    position: absolute;
   
    top: 110px;
    right: 0px;
    height: 450px;
    width: 250px;
}

.main-cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.food-delivery img{
    height: 372px;
    width: 601px;
}


.instamart img{
    height: 372px;
    width: 601px;
}



/* food section */

.food-section{
    max-width: 1200px;
    margin: auto;
    padding: 100px 40px;
    

}

.food-section h1{
    margin-left:20px ;
    font-family: "Gilroy";
    margin-bottom: 20px;
}
.food-slider{
    display: grid;
    grid-template-rows: auto auto ;
    grid-auto-flow: column;
    overflow-x: auto;

}
.food-slider::-webkit-scrollbar{
    display: none;
}

.food-card img{
    width : 144px;
    height: 180px;
    margin-right: 25px
}

.grocery-section h1{
    font-family: "Gilroy";
    font-weight: bolder;

}

.grocery-section{
    max-width: 1200px;
   
    margin: 0px auto;
}
.grocery-card h2{
    font-family: "Gilroy";
    font-size: 20px;
}



.grocery-card{
    width: 145px;
    text-align: center;
    margin-right: 28px;
}

.grocery-card img{
    width: 144px;
    height: 180px;
    
}

.grocery-slider{
    display: flex;
    
    overflow-x: auto;
    padding: 60px 30px;
}

.grocery-slider::-webkit-scrollbar{
    display: none;
}

.app-scanner{
    margin: 40px 0px;
}
.app-scanner img{
    width: 100%;
}


.city-food{
    max-width: 1200px;
    width: 1064px;
    margin: 0px auto;
    padding-top: 50px;  
    padding-bottom: 50px; 
}

.city-food h2{
    font-family: "Gilroy";
    margin-left: 30px;
    font-weight: bolder;
}

.cities-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}

.cities-box{
    padding: 15px;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 10px;
    font-family: "Gilroy";
    text-align: center;
    font-weight: bolder;
}

.show-more{
    color: orangered;
    font-weight: bolder;
}


.city-grocery{
    max-width: 1200px;
    width: 1064px;
    margin: 0px auto;
    padding-top: 50px;  
    padding-bottom: 50px; 
}

.city-grocery h2{
    font-family: "Gilroy";
    margin-left: 30px;
    font-weight: bolder;
}

.cities-grocery-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}

.cities-box-grocery{
    padding: 15px;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 10px;
    font-family: "Gilroy";
    text-align: center;
    font-weight: bolder;
}

.footer{
    background-color: rgba(236, 222, 222, 0.775);
    font-family: "Gilroy";
}

.footer-container{
    max-width: 1200px;
    width: 1000px;
    margin: auto;
    padding: 60px 20px;
    

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-col ul{
    list-style: none;
    padding: 0px;
}


.footer-col h4{
    font-size: 16px;
    margin-bottom: 23px;
    font-weight: bold;
}

.footer-col li{
    font-size: 15px;
    font-weight: bold;
    color: rgb(117, 77, 77);
    margin-bottom: 18px;
    cursor: pointer;
}

.socials i{
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.footer-block{
    margin-bottom: 40px;
}

.footer-line{
    background-color: black;
    height: 1px;
    margin: 0px auto;
    width: 1300px;
}

.download-section{

    height: 129px;
    margin: 0px auto;
    max-width: 1200px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy";
}

.download-section img{
    height: 64px;
    margin-right: 15px;
    cursor: pointer;
}

.download-section h2{
    margin-right: 15px;
    font-weight: bolder;
}